{% extends "layout.html" %}

{% block title %}
    Add Members
{% endblock %}

{% block main %}
    <center>
        <h3><em>Add New Family Members</em></h3>

        <form id="add" action="/add" method="post">
            <div>Name: <input autofocus autocomplete="off" type="text" name="Name" id="Name" placeholder="Member's Name"><br><br></div>
            <div>
                Email ID: <input autocomplete="off" type="email" name="email" placeholder="Enter email ID">
            </div><br>
            <div>
                Password: <input autocomplete="off" type="password" name="password" placeholder="Enter Password">
            </div><br>
            <div>
                Confirm Password: <input autocomplete="off" type="password" name="confirm-pwd" placeholder="Re-enter Password">
            </div><br>
        	<button type="submit" name="add">Update</button>
        	<button type="reset">Clear</button>
        </form>

    </center>
    <script>
        var units = document.getElementsByName("units");
        var imperial = document.getElementById("addI");
        var metric = document.getElementById("addM");

        imperial.style.display = 'none';
        metric.style.display = 'block';

        for(var i = 0; i < units.length; i++) {
            units[i].onclick = function() {
                var val = this.value;
                if(val == 'imperial') {
                    imperial.style.display = 'block';
                    metric.style.display = 'none';
                }
                else {
                    imperial.style.display = 'none';
                    metric.style.display = 'block';
                }
            }
        }
    </script>
{% endblock %}