{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <center>
        <div>
            <h2>Welcome back {{ user.upper() }}!</h2>
            ProjectMota2 is a web application that helps you calculate the body mass index (BMI) and store the details of everyone in your family.
        </div>
        <hr>
        <div id="dashboard">
            <h3 style="text-decoration: underline;">Dashboard</h3>
            <table id='dashTable' class="auto-index" cellspacing=0 cellpadding=10>
                <thead>
                    <th>#</th>

                    <th>HEIGHT (IN CM)</th>
                    <th>WEIGHT (IN KG)</th>
                    <th>BODY MASS INDEX (BMI)</th>
                    <th>CATEGORY</th>
                    <th>RECORD_DATE</th>
                </thead>
                <tbody>
                    {% for detail in details %}
                        <tr>
                            <td></td>

                            <td>{{ detail['height'] }}</td>
                            <td>{{ detail['weight'] }}</td>
                            <td>{{ detail['bmi'] }}</td>
                            <td>{{ detail['category'] }}</td>
                            <td>{{ detail['record_date'] }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <hr>
        <div class="image-blurred-edge">
            <img src={{ fig_path }} alt="Server Error">
        </div>

    </center>
{% endblock %}