{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
	<center><h2>Welcome to ProjectMota!</h2><br>
	<h5>Sign up for a new account below...</h5><br>
    <form action="/register" method="post">
	    <div>
	        Username: <input autocomplete="off" autofocus type="text" name="username" placeholder="Enter Username">
	    </div><br>
	    <div>
		    Email ID: <input autocomplete="off" type="email" name="email" placeholder="Enter email ID">
		</div><br>
		<div>
		    Password: <input autocomplete="off" type="password" name="password" placeholder="Enter Password">
		</div><br>
		<div>
		    Confirm Password: <input autocomplete="off" type="password" name="confirm-pwd" placeholder="Re-enter Password">
		</div><br>
		<div>
			Family Name:
            <select name="select_family_name">
                <option value="" disabled="disabled" selected="true">Select Family Name</option>
                {% for member in members %}
                    <option value="{{ member["family_name"] }}">{{ member["family_name"].upper() }}</option>
                {% endfor %}
            </select>
			<br> or <br> Enter New Family Name: <input autocomplete="off" autofocus type="text" name="new_family_name" placeholder="New Family Name">
			<br><br>
        </div>
		<button type="submit">Register</button>
		</center>
	</form>
{% endblock %}