{% extends "layout.html" %}

{% block title %}
    Update
{% endblock %}

{% block main %}
<center>
    <h3><em>Update Your Family Details</em></h3>
    <input type="radio" id="imperial" name="units" value="imperial"><label for="imperial">Imperial</label>
    <input type="radio" id="metric" name="units" value="metric" checked><label for="metric">Metric</label>

    <form id="famMetric" action="/update" method="post">
        <div>
            <select name="Name">
                <option value="" disabled="disabled" selected="true">Member's Name</option>
                {% for member in members %}
                    <option value="{{ member["user_name"] }}">{{ member["user_name"].upper() }}</option>
                {% endfor %}
            </select><br><br>
        </div>
        <div>Current Height: <input autofocus autocomplete="off" type="number" name="cms" id="cms" placeholder="Centimeters" min=1><br><br></div>
        <div>Current Weight: <input autocomplete="off" type="number" name="kgs" id="kgs" placeholder="Kilograms" min=1><br><br></div>
    	<button type="submit" name="updateMe">Update</button>
    	<button type="reset">Clear</button>
    </form>

    <form id="famImperial" action="/update" method="post">
        <div>
            <select name="Name">
                <option value="" disabled="disabled" selected="true">Member's Name</option>
                {% for member in members %}
                    <option value="{{ member["user_name"] }}">{{ member["user_name"].upper() }}</option>
                {% endfor %}
            </select><br><br>
        </div>
        <div>Current Height: <input autofocus autocomplete="off" type="number" name="feet" id="feet" placeholder="Feet" min=1>
        <input autofocus autocomplete="off" type="number" name="inch" id="inch" placeholder="Inch" min=0><br><br></div>
        <div>Current Weight: <input autocomplete="off" type="number" name="lbs" id="lbs" placeholder="Pounds" min=1><br><br></div>
    	<button type="submit" name="updateIm">Update</button>
    	<button type="reset">Clear</button>
    </form>
</center>
<script>
    var units = document.getElementsByName("units");
    var imperial = document.getElementById("famImperial");
    var metric = document.getElementById("famMetric");

    imperial.style.display = 'none';
    metric.style.display = 'block';

    for(var i = 0; i < units.length; i++) {
        units[i].onclick = function() {
            var val = this.value;
            if(val == 'imperial') {
                imperial.style.display = 'block';
                metric.style.display = 'none';
            }
            else {
                imperial.style.display = 'none';
                metric.style.display = 'block';
            }
        }
    }
</script>

{% endblock %}